body {
    background-color: rgb(224, 236, 242);
    color: rgb(78, 53, 135);
    text-align: center;

}
h1 {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(99, 99, 146);
    text-decoration: underline;
}

h3 {
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(80, 121, 216);
    border: dashed 4px rgb(236, 246, 255);
}

p {
line-height: 4vh;
}

img, video {
    border: 5px solid rgb(94, 94, 149);
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
    display: block;
    margin: 20px auto;
}

li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    height: 50px;
}

/* ol {
    margin: 20px;
    padding: 10px;
} */

nav {
    border: 3px solid #b7a0bb;
    background-color: rgb(230, 225, 218);
}

nav a {
    background-color: rgb(244, 247, 248);
    padding: 5px;
    font-size: 17.5px;
}
a{
    border: dashed 1.5px rgb(116, 116, 220);
}
nav ul li a {
    text-decoration: none;
}

.overview {
    color: black;
    grid-column: 1/-1;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
  main {
    padding: 30px;
  }

  /* The animation code */
@keyframes example {
    from {background-color: rgb(230, 225, 218);}
    to {background-color: #c3abc0;}
  }

  /* / The element to apply the animation to  */
  nav ul li a:hover {
    background-color: #c3abc0;
    color:aliceblue;
    text-decoration: underline;
    border: solid 2px rgb(87, 87, 124);
    font-size: larger;
    
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 1s;
}

  .imgs_grid {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.current {
    text-decoration: underline;
    background-color: #af85aa;
    color:aliceblue;
    border: solid 2px rgb(62, 62, 106);
    font-size: x-large;
}

#skip {
    text-transform: uppercase;
    position: absolute;
    left: -500px;
    display: none;
}

#skip:focus{
    left: 10px;
}

@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(157, 182, 225);
    }
  }

@media (prefers-reduced-motion: reduce){
   /* turn off animate here and no gif*/
   nav ul li a:hover {
    animation: none;
   }
   img[src$=".gif"] {
    display: none; 
    }
  }

/* 
.thumbnail {
    border: solid 2px coral;
    padding: 20px;
    margin: auto;
    width: 250px;
    display: block;
    border-radius: 25px;
} */
